img {height: 20%;
    width: 20%;
    margin-left: 0em;}
    @media screen and (min-width: 300px) {
        img {height: 400px;
        width: 300px;}}
    @media screen and (min-width: 700px) {
        img {height: 240%;
            width: 150%;
            margin-left: em;}}
body{background-image: url('../images/pyke_233.webp')}
div {display: flex;
        flex-direction: column;}
    @media screen and (min-width: 700px) {
        #Main { display: grid;
        grid-template-columns: 1fr 1fr 1fr;}}
#two{width: 40%;
    height: 30%;
margin-left: 0em;}
    @media screen and (min-width: 700px) {
        #two{width: 40%;
            height: 30%;
        margin-left: 7em;}}
.one {display: grid;
    grid: auto;
    margin-left: 1em;}
    @media screen and (min-width: 500px) {
        .one {margin-left: 3em;}}
h1 {margin-left: 2%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;}
p   {margin-left: 2%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
    font-size: large;
    border: 2px solid #54ad69;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-left: 2%;}
#p2 {margin-left: 5%;
    border: none;
    font-size: larger;}

    @media screen and (min-width: 500px) {
        p {font-size: medium;}}
        @media screen and (min-width: 700px) {
        p {font-size: large;}}

ul {font-size: medium;
    margin-left: 5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
    color: #49ca67;}
    @media screen and (min-width: 500px) {
        ul {font-size: large;}}
        @media screen and (min-width: 700px) {
        ul {font-size: x-large;}}

h2 {margin-left: 5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;}

#three {width:50%;
    height:60%;}
