body {margin: 20px;
    background-image: url('../images/pyke_22.png');}
nav {display: flex;
    justify-content: space-around;
    margin-left: 0px;
    margin-right: 0px;
    height: 50px;
    line-height: 50px;
    border: 5px solid #54ad69;
    border-radius: 5px;
    margin-top: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
    font-size: small;}
    @media screen and (min-width: 500px) {
        nav {font-size: medium;}}
     @media screen and (min-width: 700px) {
        nav {font-size: xx-large;}}
#color {color: white;
    text-decoration: none;}
#color:hover {color: #A63446;}
p {color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;}
h1 {color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;}
h2 {color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;}
ul {color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;}
