body{
    font-weight: bold;
    font-size: larger;
}
li{
    padding-bottom: 60px;
    color: rgb(34, 165, 34);
    text-shadow: .5px 0px 0px rgb(92, 14, 27);

}
h1{
    color: rgb(34, 165, 34);
}
label{
    color: rgb(252, 173, 186);
    text-shadow: .5px 0px 0px rgb(154, 25, 46);
}
p{
   color:  rgb(154, 25, 46);
}
